* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}

body {
    overflow-x: hidden;
}

#box {
    height: 300px;
    width: 300px;
    background-color: crimson;
}
.box-2 {
    height: 300px;
    width: 300px;
    background-color: aqua;
}


#timeline-box-1 {
    background-color:forestgreen;
    height: 200px;
    width: 200px;
}
#timeline-box-2 {
    background-color:yellowgreen;
    height: 200px;
    width: 200px;
}
#timeline-box-3 {
    background-color:brown;
    height: 200px;
    width: 200px;
}


#page-1 {
    height: 100vh;
    width: 100vw;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    display: flex;
}
#page-2 {
height: 100vh;
    width: 100vw;
    background-color: pink;
    justify-content: center;
    align-items: center;
    display: flex;
}
#page-3 {
height: 100vh;
    width: 100vw;
    background-color: lightgreen;
    justify-content: center;
    align-items: center;
    display: flex;
}

#page-box {
    width: 300px;
    height: 300px;
    background-color: red;
    
}




#h-scroll-1 {
    height: 100%;
    width: 100%;
    background-color: black;
}
#h-scroll-2 {
    height: 100%;
    width: 100%;
    background-color: lightblue;
    color: black;
}
#h-scroll-3 {
    height: 100%;
    width: 100%;
    background-color: black;
}

#h-scroll-2 h1 {
    font-size: 40vw;
    text-transform: uppercase;
}